@model SetPasswordViewModel
@{
    ViewBag.Title = "Ange lösenord";
}
<div class="row">
    <div class="span6">
        <h3>@ViewBag.Title</h3>
        <p>Du måste ange ett lösenord.</p>
        @using (Html.BeginForm("SetPassword", "User", FormMethod.Post, new { @class = "form-horizontal"}))
        {
            @Html.DisplayFor(model => Html.ViewData.ModelState, "ValidationSummary", new { message = "Det gick inte att ange lösenord."})
            @Html.Hidden("activationKey", Model.ActivationKey)
            <div class="control-group">
                <label class="control-label" for="password">Lösenord:</label>
                <div class="controls">
                    <input type="password" name="password" placeholder="Skriv lösenord" autofocus="autofocus" required="required" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="confirmPassword">Upprepa lösenord:</label>
                <div class="controls">
                    <input type="password" name="confirmPassword" placeholder="Skriv lösenordet igen" required="required" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">Spara</button>
                </div>
            </div>
        }
    </div>
</div>
