<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <extensions>
    <add assembly="NLog.Targets.Syslog" />
  </extensions>
  <targets>
    <target name="syslog" type="Syslog">
      <messageCreation>
        <facility>Local7</facility>
      </messageCreation>
      <messageSend>
        <protocol>TCP</protocol>
        <tcp>
          <server>logs5.papertrailapp.com</server>
          <port>25205</port>
          <tls>
            <enabled>true</enabled>
          </tls>
        </tcp>
      </messageSend>
    </target>
    <target name="rolling-file"
            xsi:type="File"
            archiveAboveSize="10485760"
            archiveFileName="${basedir}/logs/logfile.{#}.log"
            archiveNumbering="Rolling"
            fileName="${basedir}/logs/logfile.log"
            layout="${longdate};${logger};${activityid};${level:upperCase=true};${message};${exception:format=ToString}" />
  </targets>
  <rules>
    <logger name="Raven.*" minlevel="Warn" writeTo="rolling-file">
      <filters>
        <when condition="level &lt; LogLevel.Warn" action="Ignore" />
      </filters>
    </logger>
    <logger name="Snittlistan.*" minlevel="Debug" writeTo="rolling-file" />
    <logger name="Snittlistan.*" minlevel="Debug" writeTo="syslog" />
  </rules>
</nlog>