<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" />
  </configSections>
  <connectionStrings>
    <add name="Snittlistan-SiteWide" connectionString="Url=http://localhost:8080;Database=Snittlistan-SiteWide"/>
    <add name="Snittlistan-hofvet" connectionString="Url=http://localhost:8080;Database=Snittlistan"/>
    <add name="Snittlistan-vartansik" connectionString="Url=http://localhost:8080;Database=Snittlistan-vartansik"/>
    <add name="BitsContext" connectionString="Server=192.168.1.13;Database=prisma;Username=prisma;Password=prisma" providerName="Npgsql" />
    <add name="SnittlistanContext" connectionString="Server=localhost;Database=snittlistan;Username=postgres;Password=postgres" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="OwnerEmail" value="" />
    <add key="BccEmail" value="" />
    <add key="TaskQueue" value=".\Private$\taskqueue"/>
    <add key="ElitemedalsTemplateFilename" value="C:\Programming\Snittlistan\elitmarke-ifyllbar1.pdf"/>
    <add key="elmah.mvc.disableHandler" value="false"/>
    <add key="elmah.mvc.disableHandleErrorFilter" value="false"/>
    <add key="elmah.mvc.requiresAuthentication" value="false"/>
    <add key="elmah.mvc.allowedRoles" value="*"/>
    <add key="elmah.mvc.route" value="elmah"/>
  </appSettings>
  <system.web>
    <!--<customErrors mode="Off" />-->
    <httpRuntime targetFramework="4.8" enableVersionHeader="false" />
    <machineKey decryption="AES" validation="SHA1" decryptionKey="00F688931A8E86A211322AC28160F62ADD2A798866333818856A7639FB892417" validationKey="28D78BAEBC8938479384570928FA2ADD8C658053859A738CB70C75CAC565CD74"/>
    <globalization culture="auto" uiCulture="auto"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Authentication/LogOn" timeout="172800" defaultUrl="~/" name="SnittlistanAuth" slidingExpiration="true" cookieSameSite="None" requireSSL="false"/>
    </authentication>
    <httpCookies sameSite="None" requireSSL="false"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <remove name="Server" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <filteringRules>
          <filteringRule name="Block" scanUrl="false" scanQueryString="false">
            <scanHeaders>
              <add requestHeader="User-Agent"/>
            </scanHeaders>
            <denyStrings>
              <add string="ZmEu"/>
              <add string="Python-urllib"/>
              <add string="Java"/>
              <add string="Firefox/34.0"/>
              <add string="Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0"/>
              <add string="libwww-perl"/>
              <add string="AskTbBT5"/>
              <add string="Linux zbov"/>
              <add string="Go-http-client"/>
              <add string="DomainStatsBot"/>
              <add string="Mozilla/5.0 (X11; U; Linux i686; zh-CN; rv:1.9.2.8) Gecko/20100722 Ubuntu/10.04 (lucid) Firefox/3.6.8"/>
            </denyStrings>
          </filteringRule>
        </filteringRules>
      </requestFiltering>
    </security>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
      <add name="CustomHeaderModule" type="Snittlistan.Web.Infrastructure.CustomHeaderModule, Snittlistan.Web" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Email\Snittlistan"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" physicalMemoryLimitPercentage="10" pollingInterval="00:02:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <!-- make favicon.ico cacheable -->
  <location path="favicon.ico">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="90.00:00:00"/>
      </staticContent>
    </system.webServer>
  </location>
  <entityFramework>
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
    <!-- setting the default connection factory is optional -->
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, EntityFramework6.Npgsql" />
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Provider" invariant="Npgsql" description=".NET Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=4.1.3.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" culture="neutral" publicKeyToken="bd319b19eaf3b43a"/>
        <bindingRedirect oldVersion="0.0.0.0-1.11.24.0" newVersion="1.11.24.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" culture="neutral" publicKeyToken="5d8b90d52f46fda7" />
        <bindingRedirect oldVersion="2.0.6.0" newVersion="4.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="4.0.2.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="4.1.3.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="4.0.4.1" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="4.2.0.0" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="4.0.2.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" culture="neutral" publicKeyToken="9ee697374c7e744a" />
        <bindingRedirect oldVersion="3.3.0.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <elmah>
    <errorMail to="dlidstrom@gmail.com"/>
    <security allowRemoteAccess="no"/>
  </elmah>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:7 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.diagnostics>
    <assert assertuienabled="false" />
    <sources>
      <!-- low-level socket tracing -->
      <source name="System.Net" tracemode="protocolonly">
        <listeners>
          <add name="System.Net"
               type="Snittlistan.Web.Infrastructure.CustomTraceListener, Snittlistan.Web"
               initializeData="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.Cache" tracemode="protocolonly">
        <listeners>
          <add name="System.Net.Cache"
               type="Snittlistan.Web.Infrastructure.CustomTraceListener, Snittlistan.Web"
               initializeData="System.Net.Cache" />
        </listeners>
      </source>
      <source name="System.Net.Http" tracemode="protocolonly">
        <listeners>
          <add name="System.Net.Http"
               type="Snittlistan.Web.Infrastructure.CustomTraceListener, Snittlistan.Web"
               initializeData="System.Net.Http" />
        </listeners>
      </source>
      <source name="System.Net.Sockets" tracemode="protocolonly">
        <listeners>
          <add name="System.Net.Sockets"
               type="Snittlistan.Web.Infrastructure.CustomTraceListener, Snittlistan.Web"
               initializeData="System.Net.Sockets" />
        </listeners>
      </source>
      <source name="System.Net.WebSockets" tracemode="protocolonly">
        <listeners>
          <add name="System.Net.WebSockets"
               type="Snittlistan.Web.Infrastructure.CustomTraceListener, Snittlistan.Web"
               initializeData="System.Net.WebSockets" />
        </listeners>
      </source>
    </sources>

    <!--
        Off             Does not allow any events through.
        Critical        Allows only Critical events through.
        Error           Allows Critical and Error events through.
        Warning         Allows Critical, Error, and Warning events through.
        Information     Allows Critical, Error, Warning, and Information events through.
        Verbose         Allows Critical, Error, Warning, Information, and Verbose events through.
        ActivityTracing Allows the Stop, Start, Suspend, Transfer, and Resume events through.
        All             Allows all events through.
        -->
    <switches>
      <add name="sourceSwitch" value="Warning" />
      <add name="System.Net" value="Warning"/>
      <add name="System.Net.Cache" value="Warning"/>
      <add name="System.Net.Http" value="Warning"/>
      <add name="System.Net.Sockets" value="Warning"/>
      <add name="System.Net.WebSockets" value="Warning"/>
    </switches>
    <trace autoflush="true" useGlobalLock="false">
    </trace>
  </system.diagnostics>
</configuration>
