<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
   -->

  <appSettings>
    <add key="MainUrl" value="http://snittlistan.se" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp xdt:Transform="Replace" deliveryMethod="Network">
        <network host="smtp.gmail.com"
                 port="587"
                 enableSsl="true"
                 userName="dlidstrom@gmail.com"
                 password=""
                 defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <elmah>
    <errorMail xdt:Transform="Replace"
               from="dlidstrom+elmah@gmail.com"
               to="dlidstrom@gmail.com"
               subject="elmah error mail"
               smtpServer="smtp.gmail.com"
               smtpPort="587"
               useSsl="true"
               userName="dlidstrom@gmail.com"
               password="" />
  </elmah>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication mode="Forms" xdt:Transform="Replace">
      <forms loginUrl="~/Authentication/LogOn" timeout="172800" defaultUrl="~/" name="SnittlistanAuth" slidingExpiration="true" cookieSameSite="None" requireSSL="true"/>
    </authentication>
    <httpCookies sameSite="None" requireSSL="true" xdt:Transform="Replace"/>
  </system.web>
</configuration>
