
*.suo
*.user
*.Cache
packages
Snittlistan/bin
Snittlistan/obj

Snittlistan.Test/bin
Snittlistan.Test/obj
Snittlistan/App_Data
Snittlistan/Logs
Snittlistan/Snittlistan.Publish.xml
Snittlistan/Web.Release.config