<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">

  <!-- unique identifier for this package, DO NOT CHANGE! -->
  <?define UpgradeCode="{a2cb3a4e-9c6a-4a9b-ae08-55842492db9d}"?>
  <?define ProductName="Snittlistan"?>

  <Product Id="*"
           UpgradeCode="$(var.UpgradeCode)"
           Name="$(var.ProductName)"
           Manufacturer="Daniel Lidstrom AB"
           Language="1033"
           Version="$(var.Version)">
    <Package Id="*"
             Description="Snittlistan installer"
             InstallerVersion="500"
             Languages="1033"
             Compressed="yes"
             SummaryCodepage="1252"
             Platform="x64" />
    <Media Id="1" Cabinet="service.cab" EmbedCab="yes" />
    <Icon Id="icon.ico" SourceFile="Snittlistan.Web\Content\css\images\hofvet.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <MajorUpgrade DowngradeErrorMessage="A later version of this product is already installed. Setup will now exit." />
    <Property Id="ALLUSERS" Value="1" />
    <PropertyRef Id="NETFRAMEWORK40FULLINSTALLROOTDIR" />

    <!-- will break when supported by WiX -->
    <Property Id="WIX_IS_NETFRAMEWORK_47_OR_LATER_INSTALLED" Value="0" />
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="[ProductName] Requires .NET Framework 4.7 or later to be installed"><![CDATA[Installed OR (NETFRAMEWORK45 AND NETFRAMEWORK45 >= "#460805")]]></Condition>

    <Condition Message="ADMINISTRATOR_PASSWORD variable must be set in the command line">
      Installed OR ADMINISTRATOR_PASSWORD
    </Condition>

    <?include conditions.wxi?>

    <CustomAction Id="VerifyMatches_Cmd"
                  Property="VerifyMatches_Task"
                  Execute="immediate"
                  Value="&quot;[SystemFolder]schtasks.exe&quot; /Create /F /RU Administrator /RP [ADMINISTRATOR_PASSWORD] /SC DAILY /TN VerifyMatches /ST 12:00 /TR &quot;\&quot;[#Snittlistan.Tool.exe]\&quot; verifymatches&quot;" />
    <CustomAction Id="VerifyMatches_Task"
                  BinaryKey="WixCA"
                  DllEntry="CAQuietExec"
                  Return="check"
                  Execute="deferred"
                  Impersonate="no" />
    <CustomAction Id="RegisterMatches_Cmd"
                  Property="RegisterMatches_Task"
                  Execute="immediate"
                  Value="&quot;[SystemFolder]schtasks.exe&quot; /Create /F /RU Administrator /RP [ADMINISTRATOR_PASSWORD] /SC MINUTE /MO 15 /TN RegisterMatches /TR &quot;\&quot;[#Snittlistan.Tool.exe]\&quot; RegisterMatches&quot;" />
    <CustomAction Id="RegisterMatches_Task"
                  BinaryKey="WixCA"
                  DllEntry="CAQuietExec"
                  Return="check"
                  Execute="deferred"
                  Impersonate="no" />
    <CustomAction Id="StartServices_Cmd"
                  Property="StartServices_Task"
                  Execute="immediate"
                  Value="&quot;[SystemFolder]schtasks.exe&quot; /Create /F /RU Administrator /RP [ADMINISTRATOR_PASSWORD] /SC MINUTE /MO 1 /TN StartServices /TR &quot;\&quot;powershell.exe\&quot; -f \&quot;[#StartServices.ps1]\&quot;&quot;" />
    <CustomAction Id="StartServices_Task"
                  BinaryKey="WixCA"
                  DllEntry="CAQuietExec"
                  Return="check"
                  Execute="deferred"
                  Impersonate="no" />
    <CustomAction Id="GetRostersFromBits_Cmd"
                  Property="GetRostersFromBits_Task"
                  Execute="immediate"
                  Value="&quot;[SystemFolder]schtasks.exe&quot; /Create /F /RU Administrator /RP [ADMINISTRATOR_PASSWORD] /SC HOURLY /TN GetRostersFromBits /TR &quot;\&quot;[#Snittlistan.Tool.exe]\&quot; GetRostersFromBits&quot;" />
    <CustomAction Id="GetRostersFromBits_Task"
                  BinaryKey="WixCA"
                  DllEntry="CAQuietExec"
                  Return="check"
                  Execute="deferred"
                  Impersonate="no" />
    <CustomAction Id="GetPlayersFromBits_Cmd"
                  Property="GetPlayersFromBits_Task"
                  Execute="immediate"
                  Value="&quot;[SystemFolder]schtasks.exe&quot; /Create /F /RU Administrator /RP [ADMINISTRATOR_PASSWORD] /SC DAILY /ST 08:00 /TN GetPlayersFromBits /TR &quot;\&quot;[#Snittlistan.Tool.exe]\&quot; GetPlayersFromBits&quot;" />
    <CustomAction Id="GetPlayersFromBits_Task"
                  BinaryKey="WixCA"
                  DllEntry="CAQuietExec"
                  Return="check"
                  Execute="deferred"
                  Impersonate="no" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="VCRedist" SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC140_CRT_x86.msm" DiskId="1" Language="0" />
      <Directory Id="ProgramFiles64Folder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="Snittlistan">
          <Component Id="StartServices.ps1" Guid="*" Win64="yes">
            <File KeyPath="yes" Source="StartServices.ps1" />
          </Component>
          <Directory Id="SnittlistanWebDir" Name="Snittlistan.Web">
            <Component Id="Snittlistan.Web.config" Guid="*" Win64="yes">
              <File Id="Snittlistan.Web.config"
                    KeyPath="yes"
                    Source="$(var.Snittlistan_App)\Web.config" />
              <util:XmlFile Id="TemplateFilenameSetting"
                            Action="setValue"
                            File="[SnittlistanWebDir]Web.config"
                            ElementPath="/configuration/appSettings/add[\[]@key='ElitemedalsTemplateFilename'[\]]/@value"
                            Value="[SnittlistanWebDir]elitmarke-ifyllbar1.pdf" />
            </Component>
            <Component Id="elitmarke_ifyllbar1_pdf" Guid="*" Win64="yes">
              <File KeyPath="yes" Source="elitmarke-ifyllbar1.pdf" />
            </Component>
            <Directory Id="SnittlistanWeb_AppData" Name="App_Data">
              <Component Id="SnittlistanWeb_AppData" Guid="{3ddc6c33-9655-455a-bfb2-709023091c3c}"
                         SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
                         Win64="yes" Location="either">
                <CreateFolder>
                  <util:PermissionEx GenericAll="yes"
                                     CreateFile="yes"
                                     ChangePermission="yes"
                                     Delete="yes"
                                     DeleteChild="yes"
                                     User="IIS_IUSRS" />
                </CreateFolder>
              </Component>
            </Directory>
            <Directory Id="SnittlistanWeb_Logs" Name="Logs">
              <Component Id="SnittlistanWeb_Logs" Guid="{07655794-20ae-4272-89f9-96adcec0eb2a}"
                         SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
                         Win64="yes" Location="either">
                <CreateFolder>
                  <util:PermissionEx GenericAll="yes"
                                     CreateFile="yes"
                                     ChangePermission="yes"
                                     Delete="yes"
                                     DeleteChild="yes"
                                     User="IIS_IUSRS" />
                </CreateFolder>
              </Component>
            </Directory>
          </Directory>
          <Directory Id="SnittlistanToolDir" Name="Snittlistan.Tool">
            <Component Id="Snittlistan.Tool.exe" Guid="*" Win64="yes">
              <File KeyPath="yes"
                    Source="$(var.Snittlistan_App)\Snittlistan.Tool.exe" />
            </Component>
            <Component Id="Snittlistan.Tool.exe.config" Guid="*" Win64="yes">
              <File KeyPath="yes"
                    Source="$(var.Snittlistan_App)\Snittlistan.Tool.exe.config" />
              <util:XmlFile Id="SnittlistanToolLogsDirSetting"
                            Action="setValue"
                            File="[SnittlistanToolDir]Snittlistan.Tool.exe.config"
                            ElementPath="/configuration/log4net/appender[\[]@name='RollingFileAppender'[\]]/file/@value"
                            Value="[SnittlistanToolDir]Logs\logfile.log" />
              <util:XmlFile Id="SnittlistanToolLogsDirSettingErrors"
                            Action="setValue"
                            File="[SnittlistanToolDir]Snittlistan.Tool.exe.config"
                            ElementPath="/configuration/log4net/appender[\[]@name='RollingFileAppenderErrors'[\]]/file/@value"
                            Value="[SnittlistanToolDir]Logs\logfile.error.log" />
            </Component>
            <Directory Id="SnittlistanTool_Logs" Name="Logs">
              <Component Id="SnittlistanTool_Logs" Guid="{02c5f40d-0a22-4b54-a54e-654ae4d003d7}"
                         SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
                         Win64="yes" Location="either">
                <CreateFolder>
                  <util:PermissionEx GenericAll="yes"
                                     CreateFile="yes"
                                     ChangePermission="yes"
                                     Delete="yes"
                                     DeleteChild="yes"
                                     User="Users" />
                </CreateFolder>
              </Component>
            </Directory>
          </Directory>
          <Directory Id="SnittlistanQueueDir" Name="Snittlistan.Queue">
            <Component Id="Snittlistan.Queue.WindowsServiceHost.exe" Guid="*" Win64="yes">
              <File KeyPath="yes"
                    Source="$(var.Snittlistan_App)\Snittlistan.Queue.WindowsServiceHost.exe" />
              <ServiceInstall Id="Snittlistan.Queue.WindowsServiceHost.exe"
                              Name="Snittlistan.Queue.WindowsServiceHost.exe"
                              DisplayName="Snittlistan Queue Service"
                              ErrorControl="normal"
                              Start="auto"
                              Type="ownProcess"
                              Account="Snittlistan\Administrator"
                              Password="[ADMINISTRATOR_PASSWORD]"
                              Vital="yes">
                <ServiceDependency Id="MSMQ" />
                <util:ServiceConfig FirstFailureActionType="restart"
                                    SecondFailureActionType="restart"
                                    ThirdFailureActionType="restart"
                                    RestartServiceDelayInSeconds="300"
                                    ResetPeriodInDays="1" />
              </ServiceInstall>
              <ServiceControl Id="Snittlistan.Queue.WindowsServiceHost.exe"
                              Name="Snittlistan.Queue.WindowsServiceHost.exe"
                              Start="install"
                              Stop="both"
                              Remove="uninstall"/>
            </Component>
            <Component Id="Snittlistan.Queue.WindowsServiceHost.exe.config" Guid="*" Win64="yes">
              <File KeyPath="yes"
                    Source="$(var.Snittlistan_App)\Snittlistan.Queue.WindowsServiceHost.exe.config" />
              <util:XmlFile Id="SnittlistanQueueLogsDirSetting"
                            Action="setValue"
                            File="[SnittlistanQueueDir]Snittlistan.Queue.WindowsServiceHost.exe.config"
                            ElementPath="/configuration/log4net/appender[\[]@name='RollingFileAppender'[\]]/file/@value"
                            Value="[SnittlistanQueueDir]Logs\logfile.log" />
              <util:XmlFile Id="SnittlistanQueueLogsDirSettingErrors"
                            Action="setValue"
                            File="[SnittlistanQueueDir]Snittlistan.Queue.WindowsServiceHost.exe.config"
                            ElementPath="/configuration/log4net/appender[\[]@name='RollingFileAppenderErrors'[\]]/file/@value"
                            Value="[SnittlistanQueueDir]Logs\logfile.error.log" />
            </Component>
            <Directory Id="SnittlistanQueue_Logs" Name="Logs">
              <Component Id="SnittlistanQueue_Logs" Guid="{fe829ea1-9510-4cf7-ba10-34230be033bc}"
                         SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
                         Win64="yes" Location="either">
                <CreateFolder>
                  <util:PermissionEx GenericAll="yes"
                                     CreateFile="yes"
                                     ChangePermission="yes"
                                     Delete="yes"
                                     DeleteChild="yes"
                                     User="Users" />
                </CreateFolder>
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Component Id="AppPool" Guid="{84eb7913-9244-48cd-89d5-6baf98b0b0d3}" Permanent="yes" Win64="yes">
        <!-- Create an application pool. Set automatic recycling to once every 24 hours.
             Keep the application active until its been idle 24 hours, only then shut down the worker process. -->
        <iis:WebAppPool Id="AppPool"
                        Name="Snittlistan"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"
                        Identity="applicationPoolIdentity"
                        RecycleMinutes="1440"
                        IdleTimeout="1440" />
      </Component>
      <Component Id="SnittlistanWebSite" Guid="{0c289e8a-e4de-4f0f-b585-5d42b44126ea}">
        <!-- Creates the Snittlistan web site -->
        <iis:WebSite Id="SnittlistanWebSite" Description="Snittlistan" Directory="SnittlistanWebDir">
          <iis:WebAddress Id="Binding1" Port="443" Header="snittlistan.se" Secure="yes" />
          <iis:WebAddress Id="Binding2" Port="80" Header="snittlistan.se" />
          <iis:WebAddress Id="Binding3" Port="80" />
          <iis:WebAddress Id="Binding4" Port="443" Header="vartansik.snittlistan.se" Secure="yes" />
          <iis:WebAddress Id="Binding5" Port="80" Header="vartansik.snittlistan.se" />
          <iis:WebApplication Id="SnittlistanApplication" Name="Snittlistan" WebAppPool="AppPool" />
        </iis:WebSite>
      </Component>
    </Directory>
    <InstallExecuteSequence>
      <!-- add tasks on install -->
      <Custom Action="VerifyMatches_Cmd" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="VerifyMatches_Task" After="VerifyMatches_Cmd">NOT Installed</Custom>
      <Custom Action="RegisterMatches_Cmd" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="RegisterMatches_Task" After="RegisterMatches_Cmd">NOT Installed</Custom>
      <Custom Action="StartServices_Cmd" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="StartServices_Task" After="StartServices_Cmd">NOT Installed</Custom>
      <Custom Action="GetRostersFromBits_Cmd" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="GetRostersFromBits_Task" After="GetRostersFromBits_Cmd">NOT Installed</Custom>
      <Custom Action="GetPlayersFromBits_Cmd" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="GetPlayersFromBits_Task" After="GetPlayersFromBits_Cmd">NOT Installed</Custom>
    </InstallExecuteSequence>

    <Feature Id="Service" Level="1">
      <ComponentRef Id="Snittlistan.Web.config" />
      <ComponentRef Id="elitmarke_ifyllbar1_pdf" />
      <ComponentRef Id="SnittlistanWeb_AppData" />
      <ComponentRef Id="SnittlistanWeb_Logs" />
      <ComponentRef Id="Snittlistan.Tool.exe" />
      <ComponentRef Id="Snittlistan.Tool.exe.config" />
      <ComponentRef Id="SnittlistanTool_Logs" />
      <ComponentRef Id="Snittlistan.Queue.WindowsServiceHost.exe" />
      <ComponentRef Id="Snittlistan.Queue.WindowsServiceHost.exe.config" />
      <ComponentRef Id="StartServices.ps1" />
      <ComponentRef Id="SnittlistanQueue_Logs" />
      <ComponentRef Id="AppPool" />
      <ComponentRef Id="SnittlistanWebSite" />
    </Feature>
    <Feature Id="Libraries" Level="1">
      <ComponentGroupRef Id="SnittlistanWebLib" />
      <ComponentGroupRef Id="SnittlistanToolLib" />
      <ComponentGroupRef Id="SnittlistanQueueLib" />
    </Feature>
    <Feature Id="VCRedist" Title="Visual C++ 14.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist" />
    </Feature>
  </Product>
</Wix>
