<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">

  <!-- unique identifier for this package, DO NOT CHANGE! -->
  <?define UpgradeCode="{a2cb3a4e-9c6a-4a9b-ae08-55842492db9d}"?>

  <Product Id="*"
           UpgradeCode="$(var.UpgradeCode)"
           Name="Snittlistan"
           Manufacturer="Daniel Lidstrom AB"
           Language="1033"
           Version="$(var.Version)">
    <Package Id="*"
             Description="Snittlistan installer"
             InstallerVersion="300"
             Languages="1033"
             Compressed="yes"
             SummaryCodepage="1252"
             Platform="x64" />
    <Media Id="1" Cabinet="service.cab" EmbedCab="yes" />
    <Icon Id="icon.ico" SourceFile="Snittlistan.Web\favicon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <MajorUpgrade DowngradeErrorMessage="A later version of this product is already installed. Setup will now exit." />
    <Property Id="ALLUSERS" Value="1" />
    <PropertyRef Id="NETFRAMEWORK40FULLINSTALLROOTDIR" />
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED" />
    <Condition Message="This application requires .NET Framework 4.5.2 (or later version). Please install the .NET Framework then run this installer again.">
      Installed OR WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED
    </Condition>

    <?include iis.wxi?>

    <CustomAction Id="LetsEncrypt_Cmd"
                  Property="LetsEncryptTask"
                  Execute="immediate"
                  Value="&quot;[LetsEncrypt]letsencrypt.exe&quot; --emailaddress dlidstrom@gmail.com --usedefaulttaskuser --accepttos --manualhost snittlistan.se --webroot &quot;C:\Program Files\Snittlistan&quot;" />
    <CustomAction Id="LetsEncryptTask"
                  BinaryKey="WixCA"
                  DllEntry="CAQuietExec"
                  Return="ignore"
                  Execute="deferred"
                  Impersonate="no" />
    <CustomAction Id="LetsEncrypt_DeleteTask_Cmd"
                  Property="LetsEncrypt_DeleteTask"
                  Execute="immediate"
                  Value="&quot;[SystemFolder]schtasks.exe&quot; /Delete /TN &quot;letsencrypt-win-simple httpsacme-v01.api.letsencrypt.org&quot; /F" />
    <CustomAction Id="LetsEncrypt_DeleteTask"
                  BinaryKey="WixCA"
                  DllEntry="CAQuietExec"
                  Return="ignore"
                  Execute="deferred"
                  Impersonate="no" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="Snittlistan">
          <Component Id="Snittlistan.Web.config" Guid="*" Win64="yes">
            <File Id="Snittlistan.Web.config"
                  KeyPath="yes"
                  Source="$(var.Snittlistan_App)\Web.config" />
          </Component>
          <Directory Id="LetsEncrypt" Name="letsencrypt-win-simple.V1.9.3">
            <Component Id="letsencrypt_exe" Guid="*" Win64="yes">
              <File KeyPath="yes" Source="Tools\letsencrypt-win-simple.V1.9.3\letsencrypt.exe" />
            </Component>
            <Component Id="letsencrypt_exe_config" Guid="*" Win64="yes">
              <File KeyPath="yes" Source="Tools\letsencrypt-win-simple.V1.9.3\letsencrypt.exe.config" />
            </Component>
            <Directory Id="letsencrypt_x86" Name="x86">
              <Component Id="libeay32_dll_x86" Guid="*" Win64="yes">
                <File Id="libeay32_dll_x86" KeyPath="yes" Source="Tools\letsencrypt-win-simple.V1.9.3\x86\libeay32.dll" />
              </Component>
              <Component Id="ssleay32_dll_x86" Guid="*" Win64="yes">
                <File Id="ssleay32_dll_x86" KeyPath="yes" Source="Tools\letsencrypt-win-simple.V1.9.3\x86\ssleay32.dll" />
              </Component>
            </Directory>
            <Directory Id="letsencrypt_x64" Name="x64">
              <Component Id="libeay32_dll_64" Guid="*" Win64="yes">
                <File Id="libeay32_dll_64" KeyPath="yes" Source="Tools\letsencrypt-win-simple.V1.9.3\x64\libeay32.dll" />
              </Component>
              <Component Id="ssleay32_dll_64" Guid="*" Win64="yes">
                <File Id="ssleay32_dll_64" KeyPath="yes" Source="Tools\letsencrypt-win-simple.V1.9.3\x64\ssleay32.dll" />
              </Component>
            </Directory>
          </Directory>
          <Directory Id="Snittlistan_AppData" Name="App_Data">
            <Component Id="Snittlistan_AppData" Guid="{3ddc6c33-9655-455a-bfb2-709023091c3c}"
                       SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
                       Win64="yes" Location="either">
              <CreateFolder>
                <util:PermissionEx GenericAll="yes"
                                   CreateFile="yes"
                                   ChangePermission="yes"
                                   Delete="yes"
                                   DeleteChild="yes"
                                   User="IIS_IUSRS" />
              </CreateFolder>
            </Component>
          </Directory>
          <Directory Id="Snittlistan_Logs" Name="Logs">
            <Component Id="Snittlistan_Logs" Guid="{07655794-20ae-4272-89f9-96adcec0eb2a}"
                       SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
                       Win64="yes" Location="either">
              <CreateFolder>
                <util:PermissionEx GenericAll="yes"
                                   CreateFile="yes"
                                   ChangePermission="yes"
                                   Delete="yes"
                                   DeleteChild="yes"
                                   User="IIS_IUSRS" />
              </CreateFolder>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Component Id="AppPool" Guid="{84eb7913-9244-48cd-89d5-6baf98b0b0d3}" Permanent="yes" Win64="yes">
        <!-- Create an application pool. Set automatic recycling to once every 24 hours.
             Keep the application active until its been idle 24 hours, only then shut down the worker process. -->
        <iis:WebAppPool Id="AppPool"
                        Name="Snittlistan"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"
                        Identity="applicationPoolIdentity"
                        RecycleMinutes="1440"
                        IdleTimeout="1440" />
      </Component>
      <Component Id="Snittlistan" Guid="{0c289e8a-e4de-4f0f-b585-5d42b44126ea}">
        <!-- Creates the Snittlistan web site -->
        <iis:WebSite Id="SnittlistanWebSite" Description="Snittlistan" Directory="INSTALLDIR">
          <iis:WebAddress Id="Binding1" Port="443" Header="snittlistan.se" Secure="yes" />
          <iis:WebAddress Id="Binding2" Port="80" Header="snittlistan.se" />
          <iis:WebAddress Id="Binding3" Port="80" Header="www.snittlistan.se" />
          <iis:WebAddress Id="Binding4" Port="80" />
          <iis:WebApplication Id="SnittlistanApplication" Name="Snittlistan" WebAppPool="AppPool" />
        </iis:WebSite>
      </Component>
    </Directory>
    <InstallExecuteSequence>
      <!-- add task on install or upgrade -->
      <Custom Action="LetsEncrypt_DeleteTask_Cmd" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="LetsEncrypt_DeleteTask" After="LetsEncrypt_DeleteTask_Cmd">NOT Installed</Custom>
      <Custom Action="LetsEncrypt_Cmd" After="LetsEncrypt_DeleteTask">NOT Installed</Custom>
      <Custom Action="LetsEncryptTask" After="LetsEncrypt_Cmd">NOT Installed</Custom>
    </InstallExecuteSequence>

    <Feature Id="Service" Level="1">
      <ComponentRef Id="Snittlistan.Web.config" />
      <ComponentRef Id="Snittlistan_AppData" />
      <ComponentRef Id="Snittlistan_Logs" />
      <ComponentRef Id="AppPool" />
      <ComponentRef Id="Snittlistan" />
      <ComponentRef Id="letsencrypt_exe" />
      <ComponentRef Id="letsencrypt_exe_config" />
      <ComponentRef Id="libeay32_dll_x86" />
      <ComponentRef Id="ssleay32_dll_x86" />
      <ComponentRef Id="libeay32_dll_64" />
      <ComponentRef Id="ssleay32_dll_64" />
    </Feature>
    <Feature Id="Libraries" Level="1">
      <ComponentGroupRef Id="Snittlistan" />
    </Feature>
  </Product>
</Wix>
