@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>FUCK OFF!!!!!</title>
    <style type="text/css">
#fuckoff {
    margin: 0 auto;
    width: 540px;
    height: 512px;
    background-image: url(@Url.Content("~/Content/css/images/fuckoff.jpg"));
}
    </style>
</head>
<body>
    <div id="fuckoff"></div>
</body>
</html>
