@model string

@{
    ViewBag.Title = "Reset Administrator";
    Layout = "";
}

<h2>Reset Administrator</h2>

@using (Html.BeginForm())
{
    <p>Enter maintenance authentication token:</p>
    @Html.EditorFor(model => model, null, "token")
    <input type="submit" value="Reset" />
}
