@{
    ViewBag.Title = "Succé";
}

<h2>@ViewBag.Title</h2>

<p>Sidan är nu klar att användas. Gå @Html.ActionLink("tillbaka", "Index", "Home") för att börja använda sidan.</p>
<p>Användare kan administreras genom @Html.ActionLink("admin-sidan", "Users", "User").</p>
