@{
    ViewBag.Title = "Registrering";
}
<h2>
    Registrering</h2>
<p>
    Du har fått ett e-post till den adress du uppgav. Detta är för att bekräfta din
    e-postadress.</p>
<p>
    För att slutföra registreringen behöver du följa instruktionerna i brevet.</p>
