@model Snittlistan.Web.Areas.V2.Controllers.ActivityEditController.ActivityViewModel

<div class="row">
    <div class="span12">
        @using (Html.BeginForm("Create", "ActivityEdit", FormMethod.Post, new
        {
            @class = "form-horizontal"
        }))
        {
            <fieldset>
                <legend>Skapa ny aktivitet</legend>
            </fieldset>
            @Html.DisplayFor(model => Html.ViewData.ModelState, "ValidationSummary")
            @Html.Partial("_ActivityEditor", Model)
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">Spara</button>
                @Html.ActionLink("Avbryt", "Index", "ActivityIndex", null, new { @class = "btn btn-large" })
            </div>
        }
    </div>
</div>
