<h3>Omgång 1 (8 sep&minus;9 sep)</h3>
<button class="btn btn-primary">Tillgänglig hela helgen</button>
<div class="row-fluid">
    <div class="span4">
        <section class="well well-small">
            <h4>Fredrikshof A</h4>
            <table class="table table-condensed">
                <tr>
                    <td>Brandbergen, 8 sep, 10:00, Vendelsö BK</td>
                    <td>
                        <button class="btn btn-primary btn-small">
                            <span class="badge badge-success">
                                <i class="icon-ok icon-white"></i>
                            </span>
                            Kan
                        </button>
                        <button class="btn btn-primary btn-small">
                            <span class="badge badge-important">
                                <i class="icon-remove icon-white"></i>
                            </span>
                            Kan inte
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="badge badge-success">5</span>
                        <span class="badge badge-important">4</span>
                    </td>
                </tr>
                <tr>
                    <td>Brandbergen, 8 sep, 10:00, Vendelsö BK</td>
                    <td>
                        <button class="btn btn-primary">
                            <span class="badge badge-success">
                                <i class="icon-ok icon-white"></i>
                            </span>
                            Kan
                        </button>
                        <button class="btn btn-primary">
                            <span class="badge badge-important">
                                <i class="icon-remove icon-white"></i>
                            </span>
                            Kan inte
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="badge badge-success">5</span>
                        <span class="badge badge-important">4</span>
                    </td>
                </tr>
            </table>
        </section>
    </div>
    <div class="span4">
        <section class="well well-small">
            <h4>Fredrikshof F</h4>
            <table class="table table-condensed">
                <tr>
                    <td>Birka, 8 sep, 10:00, IFK Stockholm</td>
                    <td>
                        <button class="btn btn-success btn-small">
                            <i class="icon-ok icon-white"></i>
                            Kan
                        </button>
                        <button class="btn btn-danger btn-small">
                            <i class="icon-remove icon-white"></i>
                            Kan inte
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="badge badge-success">7</span>
                        <span class="badge badge-important">1</span>
                    </td>
                </tr>
            </table>
        </section>
    </div>
    <div class="span4">
        <section class="well well-small">
            <h4>Fredrikshof B</h4>
            <table class="table table-condensed">
                <tr>
                    <td>Bowl-O-Rama, 8 sep, 10:00, KKT B</td>
                    <td>
                        <button class="btn btn-success btn-small">
                            <i class="icon-ok icon-white"></i>
                            Kan
                        </button>
                        <button class="btn btn-danger btn-small">
                            <i class="icon-remove icon-white"></i>
                            Kan inte
                        </button>
                    </td>
                    <td>
                        <span class="badge badge-success">3</span>
                        <span class="badge badge-important">2</span>
                    </td>
                </tr>
            </table>
        </section>
    </div>
</div>
