@model TeamSummaryViewModel

<table class="invis">
    <tr>
        <td class="editor-label">@Html.LabelFor(model => model.Name)</td>
        <td class="editor-field">@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <td class="editor-label">@Html.LabelFor(model => model.Score)</td>
        <td class="editor-field">@Html.DisplayFor(model => model.Score)</td>
    </tr>
</table>