@model Snittlistan.Web.Areas.V2.Controllers.AbsenceController.CreateAbsenceViewModel

<div class="control-group">
    <label class="control-label" for="player">Spelare:</label>
    <div class="controls">
        @Html.DropDownList("Player", null, new { required = "required", id = "player" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(x => x.DateRange, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(
            x => x.DateRange,
            new
            {
                @class = "date-picker",
                @readonly = "readonly",
                required = "required",
                placeholder = "Välj datum",
                data_datepicker ="",
                data_range = "true",
                data_multiple_dates_separator =" - "
            })
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="comment">Kommentar:</label>
    <div class="controls">
        <input type="text"
               name="comment"
               id="comment"
               maxlength="160"
               value="@Model.Comment" />
    </div>
</div>
