@model CreateAbsenceViewModel

@{
    ViewBag.Title = "Redigera frånvaro";
}

<div class="row">
    <div class="span8">
        <h4>@ViewBag.Title</h4>
        @using (Html.BeginForm("Edit", "Absence", FormMethod.Post, new { @class = "form-horizontal"}))
        {
            @Html.DisplayFor(model => Html.ViewData.ModelState, "ValidationSummary")
            @Html.Partial("_AbsenceEditor", Model)
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">Spara</button>
                @Html.ActionLink("Avbryt", "Index", null, new { @class = "btn btn-large" })
            </div>
        }
    </div>
</div>
