@model Snittlistan.Web.Areas.V2.Indexes.AbsenceIndex.Result[]

<div class="row">
    <div class="span8">
        <h4 class="pull-left">Anmäld frånvaro</h4>
        @if (User.IsInRole2(WebsiteRoles.Absence.EditAll))
        {
            <a class="pull-right" href="@Url.Action("Create")">
                <i class="sprite-glyphicons_006_user_add"></i>
                Registrera frånvaro
            </a>
        }
        <div class="clearfix"></div>
    </div>
</div>
@Html.Action("AbsenceTable")
