@{
    ViewBag.Title = "Sidan hittades ej";
}

<h1>@ViewBag.Title</h1>
<p>Kunde inte hitta sidan: @ViewBag.RequestedUrl</p>
@if (ViewBag.ReferrerUrl != null) {
<p>Gå tillbaka till <a href="@ViewBag.ReferrerUrl">föregående sidan</a>.</p>
}

@* Error page must be longer than 512 bytes for IE and Chrome to show it. 
   So add padding in case we're short. *@
@(new string(' ', 512))