<h3>Omgång 1 <em>(8 sep&minus;9 sep)</em></h3>
<div class="row-fluid">
    <div class="span4">
        <section class="well well-small">
            <dl class="dl-horizontal">
                <dt>lag</dt>
                <dd><em>Vendelsö BK&minus;Fredrikshof A</em></dd>
                <dt>plats</dt>
                <dd>Brandbergen</dd>
                <dt>när</dt>
                <dd>2012-09-08</dd>
                <dt>resultat</dt>
                <dd><em>9&minus;11</em></dd>
                <dt>bäste spelare</dt>
                <dd>Christer Liedholm (923)</dd>
            </dl>
        </section>
    </div>
    <div class="span4">
        <section class="well well-small">
            <dl class="dl-horizontal">
                <dt>lag</dt>
                <dd><em>IFK Stockholm&minus;Fredrikshof F</em></dd>
                <dt>plats</dt>
                <dd>Birka</dd>
                <dt>när</dt>
                <dd>2012-09-08</dd>
                <dt>resultat</dt>
                <dd><em>11&minus;9</em></dd>
                <dt>bäste spelare</dt>
                <dd>Lennart Axelsson (807)</dd>
            </dl>
        </section>
    </div>
    <div class="span4">
        <section class="well well-small">
            <dl class="dl-horizontal">
                <dt>lag</dt>
                <dd><em>Fredrikshof B&minus;KKT B</em></dd>
                <dt>plats</dt>
                <dd>Bowl-O-Rama</dd>
                <dt>när</dt>
                <dd>2012-09-09</dd>
                <dt>resultat</dt>
                <dd><em>14&minus;6</em></dd>
                <dt>bäste spelare</dt>
                <dd>Tomas Gustavsson (754)</dd>
            </dl>
        </section>
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        <section class="well well-small">
            <h4>Omgångens lag</h4>
            <dl class="dl-horizontal">
                <dt>1</dt><dd>Christer Liedholm (923)</dd>
                <dt>2</dt><dd>Torbjörn Jensen (876)</dd>
                <dt>3</dt><dd>Thomas Wallgren (855)</dd>
                <dt>4</dt><dd>Kjell Persson (842)</dd>
                <dt>5</dt><dd>Mikael Axelsson (839)</dd>
                <dt>6</dt><dd>Thomas Gurell (822)</dd>
                <dt>7</dt><dd>Daniel Lidström (815)</dd>
                <dt>8</dt><dd>Lennart Axelsson (807)</dd>
                <dt>9</dt><dd>Peter Sjöberg (795)</dd>
            </dl>
        </section>
    </div>
</div>
