<h3>Omgång 1 <em>(8 sep&minus;9 sep)</em></h3>
<div class="row-fluid">
    <div class="span3">
        <section class="well well-small">
            <dl class="dl-horizontal">
                <dt>lag</dt>
                <dd><em>Vendelsö BK&minus;Fredrikshof A</em></dd>
                <dt>plats</dt>
                <dd>Brandbergen</dd>
                <dt>när</dt>
                <dd>2012-09-08</dd>
                <dt>resultat</dt>
                <dd><em>9&minus;11</em></dd>
            </dl>
            <h4><span class="label label-team-a">Fredrikshof A</span></h4>
            <table class="table table-condensed">
                <tr><th>#</th><th>Namn</th><th colspan="2">Resultat</th></tr>
                <tr>
                    <td>1</td>
                    <td>Christer Liedholm</td>
                    <td>923</td>
                    <td><span class="label label-miss-free">missfri&times;3</span></td>
                </tr>
                <tr><td>2</td><td>Torbjörn Jensen</td><td>876</td><td></td></tr>
                <tr><td>3</td><td>Thomas Wallgren</td><td>855</td><td></td></tr>
                <tr><td>4</td><td>Kjell Persson</td><td>842</td><td></td></tr>
                <tr>
                    <td>5</td>
                    <td>Mikael Axelsson</td>
                    <td>839</td>
                    <td><span class="label label-miss-free">missfri&times;1</span></td>
                </tr>
                <tr><td>6</td><td>Thomas Gurell</td><td>822</td><td></td></tr>
                <tr>
                    <td>7</td>
                    <td>Daniel Lidström</td>
                    <td>815</td>
                    <td><span class="label label-season-best">SB</span> <span class="label label-miss-free">missfri&times;1</span></td>
                </tr>
                <tr><td>8</td><td>Lennart Axelsson</td><td>807</td><td></td></tr>
            </table>
        </section>
    </div>
    <div class="span3">
        <section class="well well-small">
            <dl class="dl-horizontal">
                <dt>lag</dt>
                <dd><em>IFK Stockholm&minus;Fredrikshof F</em></dd>
                <dt>plats</dt>
                <dd>Birka</dd>
                <dt>när</dt>
                <dd>2012-09-08</dd>
                <dt>resultat</dt>
                <dd><em>11&minus;9</em></dd>
            </dl>
            <h4><span class="label label-team-f">Fredrikshof F</span></h4>
            <table class="table table-condensed">
                <tr><th>#</th><th>Namn</th><th colspan="2">Resultat</th></tr>
                <tr><td>1</td><td>Christer Liedholm</td><td>923</td><td></td></tr>
                <tr><td>2</td><td>Torbjörn Jensen</td><td>876</td><td></td></tr>
                <tr><td>3</td><td>Thomas Wallgren</td><td>855</td><td></td></tr>
                <tr><td>4</td><td>Kjell Persson</td><td>842</td><td></td></tr>
                <tr>
                    <td>5</td>
                    <td>Mikael Axelsson</td>
                    <td>839</td>
                    <td><span class="label label-personal-best">PB</span> <span class="label label-miss-free">missfri&times;3</span></td>
                </tr>
                <tr><td>6</td><td>Thomas Gurell</td><td>822</td><td></td></tr>
                <tr><td>7</td><td>Daniel Lidström</td><td>815</td><td></td></tr>
                <tr><td>8</td><td>Lennart Axelsson</td><td>807</td><td></td></tr>
            </table>
        </section>
    </div>
    <div class="span3">
        <section class="well well-small">
            <dl class="dl-horizontal">
                <dt>lag</dt>
                <dd><em>Fredrikshof B&minus;KKT B</em></dd>
                <dt>plats</dt>
                <dd>Bowl-O-Rama</dd>
                <dt>när</dt>
                <dd>2012-09-09</dd>
                <dt>resultat</dt>
                <dd><em>14&minus;6</em></dd>
            </dl>
            <h4><span class="label label-team-b">Fredrikshof B</span></h4>
            <table class="table table-condensed">
                <tr><th>#</th><th>Namn</th><th colspan="2">Resultat</th></tr>
                <tr><td>1</td><td>Stefan Markenfelt</td><td>782</td><td></td></tr>
                <tr>
                    <td>2</td>
                    <td>Daniel Solvander</td>
                    <td>756</td>
                    <td><span class="label label-season-best">SB</span> <span class="label label-miss-free">missfri&times;1</span></td>
                </tr>
                <tr><td>3</td><td>Lars Norbeck</td><td>715</td><td></td></tr>
                <tr><td>4</td><td>Håkan Gustavsson</td><td>702</td><td></td></tr>
                <tr><td>5</td><td>Tomas Gustavsson</td><td>679</td><td></td></tr>
                <tr><td>6</td><td>Per-Erik Freij</td><td>652</td><td></td></tr>
                <tr><td>7</td><td>Matz Classon</td><td>635</td><td></td></tr>
                <tr><td>8</td><td>Markus Norbeck</td><td>607</td><td></td></tr>
            </table>
        </section>
    </div>
    <div class="span3">
        <section class="well well-small">
            <h4>Omgångens lag</h4>
            <p>Här är de 8 bästa spelarna under omgången, samt reserv.</p>
            <table class="table table-condensed team-of-week">
                <thead>
                    <tr>
                        <th>#</th><th>Namn</th><th>Resultat</th><th>Lag</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td><td>Christer Liedholm</td><td>923</td><td><span class="label label-team-a">Fredrikshof A</span></td>
                    </tr>
                    <tr>
                        <td>2</td><td>Torbjörn Jensen</td><td>876</td><td><span class="label label-team-a">Fredrikshof A</span></td>
                    </tr>
                    <tr>
                        <td>3</td><td>Thomas Wallgren</td><td>855</td><td><span class="label label-team-a">Fredrikshof A</span></td>
                    </tr>
                    <tr>
                        <td>4</td><td>Kjell Persson</td><td>842</td><td><span class="label label-team-a">Fredrikshof A</span></td>
                    </tr>
                    <tr>
                        <td>5</td><td>Mikael Axelsson</td><td>839</td><td><span class="label label-team-a">Fredrikshof A</span></td>
                    </tr>
                    <tr>
                        <td>6</td><td>Thomas Gurell</td><td>822</td><td><span class="label label-team-b">Fredrikshof B</span></td>
                    </tr>
                    <tr>
                        <td>7</td><td>Daniel Lidström</td><td>815</td><td><span class="label label-team-b">Fredrikshof B</span></td>
                    </tr>
                    <tr>
                        <td>8</td><td>Lennart Axelsson</td><td>807</td><td><span class="label label-team-f">Fredrikshof F</span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>9</td><td>Peter Sjöberg</td><td>795</td><td><span class="label label-team-f">Fredrikshof F</span></td>
                    </tr>
                </tfoot>
            </table>
        </section>
    </div>
</div>
