<h3>Omgång 1 <em>(8 sep&minus;9 sep)</em></h3>
<div class="row-fluid">
    <div class="span3">
        <section class="well well-small">
            <dl class="dl-horizontal">
                <dt>lag</dt>
                <dd><em>Vendelsö BK&minus;Fredrikshof A</em></dd>
                <dt>plats</dt>
                <dd>Brandbergen</dd>
                <dt>när</dt>
                <dd>2012-09-08</dd>
                <dt>resultat</dt>
                <dd><em>9&minus;11</em></dd>
                <dt><span class="label label-success">Fredrikshof A</span></dt>
                <dd>Christer Liedholm (923)</dd>
                <dd>Torbjörn Jensen (876)</dd>
                <dd>Thomas Wallgren (855)</dd>
                <dd>Kjell Persson (842)</dd>
                <dd>Mikael Axelsson (839)</dd>
                <dd>Thomas Gurell (822)</dd>
                <dd>Daniel Lidström (815)</dd>
                <dd>Lennart Axelsson (807)</dd>
            </dl>
        </section>
    </div>
    <div class="span3">
        <section class="well well-small">
            <dl class="dl-horizontal">
                <dt>lag</dt>
                <dd><em>IFK Stockholm&minus;Fredrikshof F</em></dd>
                <dt>plats</dt>
                <dd>Birka</dd>
                <dt>när</dt>
                <dd>2012-09-08</dd>
                <dt>resultat</dt>
                <dd><em>11&minus;9</em></dd>
                <dt><span class="label label-info">Fredrikshof F</span></dt>
                <dd>Christer Liedholm (923)</dd>
                <dd>Torbjörn Jensen (876)</dd>
                <dd>Thomas Wallgren (855)</dd>
                <dd>Kjell Persson (842)</dd>
                <dd>Mikael Axelsson (839)</dd>
                <dd>Thomas Gurell (822)</dd>
                <dd>Daniel Lidström (815)</dd>
                <dd>Lennart Axelsson (807)</dd>
            </dl>
        </section>
    </div>
    <div class="span3">
        <section class="well well-small">
            <dl class="dl-horizontal">
                <dt>lag</dt>
                <dd><em>Fredrikshof B&minus;KKT B</em></dd>
                <dt>plats</dt>
                <dd>Bowl-O-Rama</dd>
                <dt>när</dt>
                <dd>2012-09-09</dd>
                <dt>resultat</dt>
                <dd><em>14&minus;6</em></dd>
                <dt><span class="label label-important">Fredrikshof B</span></dt>
                <dd>Stefan Markenfelt (782)</dd>
                <dd>Daniel Solvander (756)</dd>
                <dd>Lars Norbeck (715)</dd>
                <dd>Håkan Gustavsson (702)</dd>
                <dd>Tomas Gustavsson (679)</dd>
                <dd>Per-Erik Freij (652)</dd>
                <dd>Matz Classon (635)</dd>
                <dd>Markus Norbeck (607)</dd>
            </dl>
        </section>
    </div>
    <div class="span3">
        <section class="well well-small">
            <h4>Omgångens lag</h4>
            <table class="table table-condensed">
                <tr>
                    <th>#</th><th>Namn</th><th>Resultat</th><th>Lag</th>
                </tr>
                <tr>
                    <td>1</td><td>Christer Liedholm</td><td>923</td><td><span class="label label-success">Fredrikshof A</span></td>
                </tr>
                <tr>
                    <td>2</td><td>Torbjörn Jensen</td><td>876</td><td><span class="label label-success">Fredrikshof A</span></td>
                </tr>
                <tr>
                    <td>3</td><td>Thomas Wallgren</td><td>855</td><td><span class="label label-success">Fredrikshof A</span></td>
                </tr>
                <tr>
                    <td>4</td><td>Kjell Persson</td><td>842</td><td><span class="label label-success">Fredrikshof A</span></td>
                </tr>
                <tr>
                    <td>5</td><td>Mikael Axelsson</td><td>839</td><td><span class="label label-success">Fredrikshof A</span></td>
                </tr>
                <tr>
                    <td>6</td><td>Thomas Gurell</td><td>822</td><td><span class="label label-important">Fredrikshof B</span></td>
                </tr>
                <tr>
                    <td>7</td><td>Daniel Lidström</td><td>815</td><td><span class="label label-important">Fredrikshof B</span></td>
                </tr>
                <tr>
                    <td>8</td><td>Lennart Axelsson</td><td>807</td><td><span class="label label-info">Fredrikshof F</span></td>
                </tr>
                <tr>
                    <td>9</td><td>Peter Sjöberg</td><td>795</td><td><span class="label label-info">Fredrikshof F</span></td>
                </tr>
            </table>
        </section>
    </div>
</div>
