<h2>Christer Liedholm<i class="icon-question-sign" title="Att göra" data-placement="right" data-content="Lägg till vy för spelare. En spelares medaljer ska visas. Lägg till förklaring på medaljerna (eller titel åtminstone). Lägg till vy för att göra laguttagningen."></i></h2>
<ul class="thumbnails">
    <li class="span2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="" />
            <h3>Christer Liedholm</h3>
            <p>Medlem sedan 1973</p>
        </a>
    </li>
</ul>
<h3>Matcher</h3>
<table class="table table-condensed">
    <tr><th>Datum</th><th>Resultat</th></tr>
    <tr><td>2011-11-14</td><td>913</td></tr>
</table>