<h3>Omgång 3 <em>(22 sep&minus;23 sep)</em></h3>
<div class="row-fluid">
    <div class="span4">
        <section class="well well-small">
            <dl class="dl-horizontal">
                <dt>lag</dt>
                <dd><em>Fredrikshof A</em></dd>
                <dt>plats</dt>
                <dd>Birka</dd>
                <dt>motstånd</dt>
                <dd>Stockholm IFK</dd>
                <dt>när</dt>
                <dd><em>lördag den 22 september 2012, 10:00</em></dd>
                <dt>tackat nej</dt>
                <dd>
                    <span class="badge badge-warning">2</span>
                    Kjell Jansson, Christer Liedholm
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>svar</dt>
                <dd>
                    <button class="btn btn-inverse btn-small" data-toggle="button">
                        <i class="icon-remove icon-white"></i>
                        Kan inte spela
                    </button>
                </dd>
            </dl>
        </section>
    </div>
    <div class="span4">
        <section class="well well-small">
            <dl class="dl-horizontal">
                <dt>lag</dt>
                <dd><em>Fredrikshof F</em></dd>
                <dt>plats</dt>
                <dd>Högdalen</dd>
                <dt>motstånd</dt>
                <dd>BK Smile</dd>
                <dt>när</dt>
                <dd><em>lördag den 22 september 2012, 12:00</em></dd>
                <dt>tackat nej</dt>
                <dd>
                    <span class="badge badge-warning">1</span>
                    Daniel Lidström
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>svar</dt>
                <dd>
                    <button class="btn btn-inverse btn-small" data-toggle="button">
                        <i class="icon-remove icon-white"></i>
                        Kan inte spela
                    </button>
                </dd>
            </dl>
        </section>
    </div>
    <div class="span4">
        <section class="well well-small">
            <dl class="dl-horizontal">
                <dt>lag</dt>
                <dd><em>Fredrikshof B</em></dd>
                <dt>plats</dt>
                <dd>Bowl-O-Rama</dd>
                <dt>motstånd</dt>
                <dd>Tyresök BK C</dd>
                <dt>när</dt>
                <dd><em>lördag den 22 september 2012, 11:40</em></dd>
                <dt>tackat nej</dt>
                <dd>
                    <span class="badge badge-success">0</span>
                </dd>
            </dl>
        </section>
    </div>
</div>
