<h3>Omgång 3 <em>(22 sep&minus;23 sep)</em></h3>
<div class="row-fluid">
    <div class="span4">
        <i class="icon-question-sign pull-right" title="Kvittens" data-content="Visas när man är inloggad. Här är knappen 'Jag kan spela' också synlig då man är uttagen i laget."></i>
        <section class="well well-small">
            <dl class="dl-horizontal">
                <dt>lag</dt>
                <dd><em>Fredrikshof A</em></dd>
                <dt>plats</dt>
                <dd>Birka</dd>
                <dt>motstånd</dt>
                <dd>Stockholm IFK</dd>
                <dt>när</dt>
                <dd><em>lördag den 22 september 2012, 10:00</em></dd>
                <dt>tackat nej</dt>
                <dd>
                    <span class="badge badge-warning">2</span>
                    Kjell Jansson, Christer Liedholm
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>svar</dt>
                <dd>
                    <button class="btn btn-success btn-small" data-tobble="button">
                        <i class="icon-ok icon-white"></i>
                        Jag kan spela
                    </button>
                    <button class="btn btn-inverse btn-small" data-toggle="button">
                        <i class="icon-remove icon-white"></i>
                        Kan inte spela
                    </button>
                </dd>
            </dl>
            <table class="table table-condensed">
                <tr>
                    <th>Bord</th><th>Namn</th><th>Svar</th>
                </tr>
                <tr>
                    <td rowspan="2" class="game-table">1</td>
                    <td>Christer Liedholm<i class="icon-question-sign" title="Spelare" data-content="Här vill jag att man ska kunna öppna information om spelaren."></i></td>
                    <td>Ja</td>
                </tr>
                <tr>
                    <td>Mikael Axelsson</td>
                    <td>Ja</td>
                </tr>
                <tr>
                    <td rowspan="2" class="game-table">2</td>
                    <td>Thomas Wallgren</td>
                    <td>Ja</td>
                </tr>
                <tr>
                    <td>Torbjörn Jensen</td>
                    <td>Ja</td>
                </tr>
                <tr>
                    <td rowspan="2" class="game-table">3</td>
                    <td>Kjell Persson</td>
                    <td>Ja</td>
                </tr>
                <tr>
                    <td>Peter Sjöberg</td>
                    <td>Ja</td>
                </tr>
                <tr>
                    <td rowspan="2" class="game-table">4</td>
                    <td>Alf Kindblom</td>
                    <td>Ja</td>
                </tr>
                <tr>
                    <td>Daniel Lidström</td>
                    <td>Ja</td>
                </tr>
                <tr>
                    <td>Reserv</td>
                    <td>Daniel Solvander</td>
                    <td>Ja</td>
                </tr>
            </table>
            <i class="icon-question-sign" title="Dubbelmatcher" data-content="Här ska man kunna bygga vidare med fler matcher. Det kommer behövas de helger då vi har dubbelmatch."></i>
        </section>
    </div>
    <div class="span4">
        <i class="icon-question-sign pull-right" title="Kvittens" data-content="Så här ser det ut när man kan anmäla frånvaro i förväg. Jag tror knappen ska vara synlig även när man inte är inloggad, och isåfall måste man logga in först."></i>
        <section class="well well-small">
            <dl class="dl-horizontal">
                <dt>lag</dt>
                <dd><em>Fredrikshof F</em></dd>
                <dt>plats</dt>
                <dd>Högdalen</dd>
                <dt>motstånd</dt>
                <dd>BK Smile</dd>
                <dt>när</dt>
                <dd><em>lördag den 22 september 2012, 12:00</em></dd>
                <dt>tackat nej</dt>
                <dd>
                    <span class="badge badge-warning">1</span>
                    Daniel Lidström
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>svar</dt>
                <dd>
                    <button class="btn btn-inverse btn-small" data-toggle="button">
                        <i class="icon-remove icon-white"></i>
                        Kan inte spela
                    </button>
                </dd>
            </dl>
        </section>
    </div>
    <div class="span4">
        <i class="icon-question-sign pull-right" title="Normal" data-placement="left" data-content="Så här ser det ut i normala fallet, dvs när man inte är inloggad."></i>
        <section class="well well-small">
            <dl class="dl-horizontal">
                <dt>lag</dt>
                <dd><em>Fredrikshof B</em></dd>
                <dt>plats</dt>
                <dd>Bowl-O-Rama</dd>
                <dt>motstånd</dt>
                <dd>Tyresök BK C</dd>
                <dt>när</dt>
                <dd><em>lördag den 22 september 2012, 11:40</em></dd>
                <dt>tackat nej</dt>
                <dd>
                    <span class="badge badge-success">0</span>
                </dd>
            </dl>
            <button class="btn btn-primary btn-small">Skapa lag</button>
            <i class="icon-question-sign" title="Laguttagning" data-content="Här kan man skapa en laguttagning. Kräver inloggning och att man har rätt roll."></i>
        </section>
    </div>
</div>
