@model IEnumerable<Snittlistan.Infrastructure.Indexes.Matches_PlayerStats.Results>

@{
    ViewBag.Title = "Snittlistan";
}

<h2>Välkommen till Snittlistan!</h2>
<p>
    Här kan du se de senaste resultaten.
</p>

<table>
    <thead>
        <tr><th>Namn</th><th>Medel</th><th>Högsta</th><th>Lägsta</th></tr>
    </thead>
    @foreach (var stat in Model)
    {
        <tr>
            <td>@stat.Player</td>
            <td>@(string.Format("{0:F1}", (double)stat.TotalPins / stat.Count))</td>
            <td>@stat.Max</td>
            <td>@stat.Min</td>
        </tr>
    }
</table>