@{
    ViewBag.Title = "Logga in";
}
<div class="row">
    <div class="span6">
        <h3>@ViewBag.Title</h3>
        <p>Du ska nu få ett e-postbrev till den angivna adressen. Där finns en länk du ska använda för att logga in.
            Om du inte fått brevet, ta en titt i skräppost för säkerhetsskull.</p>
        <p>Behöver du göra om inloggningen så börja igen @Html.ActionLink("här", "LogOn").</p>
    </div>
</div>
