@model Snittlistan.Web.Areas.V2.Controllers.AuthenticationController.PasswordViewModel
@{
    ViewBag.Title = "Logga in";
}
<div class="row">
    <div class="span8">
        <h3>@ViewBag.Title</h3>
        @if (Model.ReuseToken)
        {
            <p>
                Kolla i mailen där du ska ha fått dagens inloggningskod. Du kan använda samma kod igen för att logga in.
            </p>
            if (Model.ReusedTokenDate != null)
            {
                <p>Koden skickades ut @(Model.ReusedTokenDate?.ToString("HH:mm")) idag.</p>
            }
        }
        else
        {
            <p>Dagens inloggningskod har skickats till din e-postadress. Du kan använda samma kod hela dagen så passa på att logga in i alla dina enheter på en gång.</p>
        }

        <p>
            <strong style="background-color: yellow; padding: 5px; border: 1px dashed red;">
                Om du har problem att logga in, öppna <a href="//@Model.Hostname">@Model.Hostname</a> i en ny flik och prova att logga in där.
            </strong>
        </p>

        @using (Html.BeginForm("LogOnOneTimePassword", "Authentication", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(x => x.OneTimeKey)
            Html.RenderPartial("_PasswordEditor");
        }
    </div>
</div>
