@model Snittlistan.Web.Areas.V2.Controllers.AuthenticationController.PasswordViewModel
@{
    ViewBag.Title = "Logga in";
}
<div class="row">
    <div class="span6">
        <h3>@ViewBag.Title</h3>
        <p>Ett engångslösenord har skickats till din e-postadress. Ange det här för att logga in.</p>
        @using (Html.BeginForm("LogOnOneTimePassword", "Authentication", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(x => x.OneTimeKey)
            Html.RenderPartial("_PasswordEditor");
        }
    </div>
</div>
