<div class="row">
    <div class="span12">
        <div class="alert alert-error">
            Länken har upphört att gälla. Du får börja om inloggningsprocessen @Html.ActionLink("här", "LogOn").
        </div>
    </div>
</div>