@model CreateUserViewModel

<div class="control-group">
    <label class="control-label" for="email">E-postadress:</label>
    <div class="controls">
        <input type="email"
               name="email"
               placeholder=""
               autocorrect = "off"
               autocomplete = "off"
               value="@Model.Email"
               required />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="confirmEmail">Bekräfta e-postadress:</label>
    <div class="controls">
        <input type="email"
               name="confirmEmail"
               placeholder=""
               autocorrect = "off"
               autocomplete = "off"
               value="@Model.ConfirmEmail"
               required />
    </div>
</div>
