<div class="row">
    <div class="span12">
        @using (Html.BeginForm(
            "Adopt",
            "AdminTasks",
            FormMethod.Post,
            new
            {
                @class = "form-horizontal"
            }))
        {
            <div class="control-group">
                <label for="playerId" class="control-label"></label>
                <div class="controls">
                    @Html.DropDownList("playerId", new SelectList(ViewBag.PlayerId, "Value", "Text"))
                    <span class="help-block">
                        Välj medlem att adoptera.
                    </span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary btn-large" type="submit">Spara</button>
                    <a class="btn btn-large"
                       href="@Url.Action("Index", "AdminTasks")">
                        Avbryt
                    </a>
                </div>
            </div>
        }
    </div>
</div>