<div class="row">
    <div class="span12">
        @Html.ActionLink("Replay events", "ReplayEvents", null, new { @class = "btn btn-large" })
        @Html.ActionLink("Migrate events", "MigrateEvents", null, new { @class = "btn btn-large" })
        @Html.ActionLink("Award medals", "AwardMedals", null, new { @class = "btn btn-large" })
        @Html.ActionLink("Award scores", "AwardScores", null, new { @class = "btn btn-large" })
    </div>
</div>