<div class="row">
    <div class="span12">
        <a href="@Url.Action("CreateIndexes")" class="btn btn-large">
            Create Indexes
        </a>
        <a href="@Url.Action("ResetIndexes")" class="btn btn-large">
            Reset Indexes
        </a>
    </div>
</div>