<section class="navbar-inner">
    <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">{{title}}</a>
        <div class="nav-collapse">
            <ul class="nav">
                <li id="menu-players" class="{{playersMenu}}">
                    <a href="players">
                        <i class="icon-user icon-white"></i>
                        Spelare
                    </a>
                </li>
                <li id="menu-turns" class="{{turnsMenu}}">
                    <a href="turns">
                        <i class="icon-calendar icon-white"></i>
                        Kommande matchomgångar
                    </a>
                </li>
            </ul>
            <form class="navbar-search">
                <input type="text" class="search-query span2" placeholder="Sök" />
            </form>
            <p class="navbar-text">
                Text i navbar
            </p>
        </div>
    </div>
</section>