<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Logga in</h3>
</div>
<div class="modal-body">
    <p>Logga in genom att ange din e-postadress och ditt lösenord.</p>
    <form id="login-form" class="well">
        <label>E-postadress:</label>
        <input type="email" name="email" placeholder="E-postadress" />
        <label>Lösenord:</label>
        <input type="password" name="password" placeholder="Lösenord" />
        <label class="checkbox">
            <input type="checkbox" name="remember" />Kom ihåg mig
        </label>
        <button id="login-button" class="btn btn-primary" type="submit">Logga in</button>
        <button class="btn" data-type="hide">Avbryt</button>
    </form>
</div>
