.label-team-a {
    background-color: MediumSeaGreen;
    text-transform: uppercase;
}

.label-team-f {
    background-color: Orange;
    text-transform: uppercase;
}

.label-team-b {
    background-color: Purple;
    text-transform: uppercase;
}

.label-team-c {
    background-color: DodgerBlue;
    text-transform: uppercase;
}
