@model Snittlistan.Web.Areas.V2.Domain.FormattedAuditLog

<h1>@Model.Title</h1>

<table class="table table-bordered table-striped">
    <tr>
        <th>Användare</th>
        <th>Åtgärd</th>
        <th>Datum</th>
    </tr>
    @foreach (var item in Model.Entries)
    {
        <tr>
            <td>@item.UserId</td>
            <td>@item.Action</td>
            <td>@(item.Date?.ToString("yyyy-MM-dd HH:mm"))</td>
        </tr>
    }
</table>
