<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="messaging" type="Snittlistan.Queue.Config.MessagingConfigSection, Snittlistan.Queue" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <messaging>
    <queueListeners>
      <!-- name attribute must be unique -->
      <!-- isEnabled attribute is mandatory: use true to enable processing; false otherwise -->
      <!-- readQueue attribute is mandatory -->
      <!-- errorQueue attribute is optional and will default to {readQueue}.error -->
      <!-- workerThreads is optional (defaults to 1), and limited to #cpus * 2 -->
      <!-- autoCreateQueues is optional: defaults to true for convenience; false for setting up manually (avoid if possible) -->
      <add name="TaskQueue" isEnabled="true" readQueue=".\Private$\taskqueue" workerThreads="1" autoCreateQueues="true" />
    </queueListeners>
  </messaging>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="BufferingRollingFileAppender" />
      <appender-ref ref="BufferingRollingFileAppenderErrors" />
      <appender-ref ref="EventLogAppender" />
    </root>
    <!-- logs to Visual Studio output window -->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level [%property{NDC}] - %.10240message%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <threshold value="INFO" />
      <mapping>
        <level value="ERROR" />
        <foreColor value="Yellow, HighIntensity" />
        <backColor value="Red" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level [%property{NDC}] - %.10240message%newline" />
      </layout>
    </appender>
    <appender name="BufferingRollingFileAppender" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="1" />
      <appender-ref ref="RollingFileAppender" />
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\logfile.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="25MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <staticLogFileName value="true" />
      <PreserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level [%property{NDC}] - %.10240message%newline" />
      </layout>
    </appender>
    <appender name="BufferingRollingFileAppenderErrors" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="1" />
      <appender-ref ref="RollingFileAppenderErrors" />
    </appender>
    <appender name="RollingFileAppenderErrors" type="log4net.Appender.RollingFileAppender">
      <threshold value="ERROR" />
      <file value="logs\logfile.error.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="25MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <staticLogFileName value="true" />
      <PreserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level [%property{NDC}] - %.10240message%newline" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <logName value="Snittlistan" />
      <applicationName value="Queue" />
      <threshold value="INFO" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%2thread] - %.10240message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>