<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="messaging" type="Snittlistan.Queue.Config.MessagingConfigSection, Snittlistan.Queue" />
  </configSections>
  <appSettings>
    <add key="UrlScheme" value="http" />
    <add key="Port" value="61026"/>
  </appSettings>
  <messaging>
    <queueListeners>
      <!-- name attribute must be unique -->
      <!-- isEnabled attribute is mandatory: use true to enable processing; false otherwise -->
      <!-- readQueue attribute is mandatory -->
      <!-- errorQueue attribute is optional and will default to {readQueue}.error -->
      <!-- workerThreads is optional (defaults to 1), and limited to #cpus * 2 -->
      <!-- autoCreateQueues is optional: defaults to true for convenience; false for setting up manually (avoid if possible) -->
      <!-- dropFailedMessages: use true to drop failed messages; false to move to error queue -->
      <add
        name="TaskQueue"
        isEnabled="true"
        readQueue=".\Private$\taskqueue"
        workerThreads="1"
        autoCreateQueues="true"
        dropFailedMessages="true" />
    </queueListeners>
  </messaging>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
