@model Snittlistan.Web.Areas.V2.Controllers.MatchResultAdminController.RegisterResult

<div class="control-group">
    <label class="control-label" for="teamScore">Lagpoäng:</label>
    <div class="controls">
        <input id="teamScore"
               name="teamScore"
               type="text"
               pattern="\d*"
               min="0"
               max="20"
               value="@Model.TeamScore"
               required="required" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="opponentScore">Motståndarpoäng:</label>
    <div class="controls">
        <input id="opponentScore"
               name="opponentScore"
               type="text"
               pattern="\d*"
               min="0"
               max="20"
               value="@Model.OpponentScore"
               required="required" />
    </div>
</div>
@foreach (var x in Model.Series)
{
    <div class="row">
        <div class="span8">
            @Html.Partial("_SerieEditor", x)
        </div>
    </div>
}
