@model RegisterSerie4

<table class="table table-condensed table-bordered table-striped">
    <tr>
        <td>Namn</td>
        <td>Banpoäng</td>
        <td>Poäng</td>
    </tr>
    @for (var i = 0; i < Model.Serie.Games.Count; i++)
    {
        <tr>
            <td>
                @Html.DropDownListFor(
                    m => m.Serie.Games[i].Player,
                    Model.Players,
                    "Välj spelare")
            </td>
            <td rowspan="2">
                @Html.TextBoxFor(
                    m => m.Serie.Games[i].Score,
                    new
                    {
                        @class = "span1",
                        required = "required",
                        type = "number",
                        pattern = @"\d*",
                        min = "0",
                        max = "1"
                    })
            </td>
            <td>
                @Html.TextBoxFor(
                    m => m.Serie.Games[i].Pins,
                    new
                    {
                        @class = "span1",
                        required = "required",
                        type = "number",
                        pattern = @"\d*",
                        min = "0",
                        max = "300"
                    })
            </td>
        </tr>
    }
</table>
