@model Snittlistan.Web.Areas.V2.Controllers.MatchResultAdminController.RegisterResult
@{
    ViewBag.Title = ViewBag.Title ?? "Registrera matchresultat";
}

<div class="row">
    <div class="span8">
        <h4>@ViewBag.Title</h4>
        @using (Html.BeginForm("Register", "MatchResultAdmin", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.AggregateId)
            <div class="control-group">
                <label class="control-label" for="rosterid">Match:</label>
                <div class="controls">
                    @Html.DropDownList("rosterid", (IEnumerable<SelectListItem>)ViewBag.rosterid, "Välj match", new { required = "required" })
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">Välj</button>
                @Html.ActionLink("Avbryt", "Index", "MatchResult", null, new { @class = "btn btn-large" })
            </div>
        }
    </div>
</div>
