@{
    Layout = "~/Areas/V2/Views/Shared/_SupporterTravetLayout.cshtml";
}

<div class="row">
    <div class="col">
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <tr>
                <th></th>
                <th>Omgång</th>
                <th>Startdatum</th>
                <th>Slutdatum</th>
                <th></th>
            </tr>
            <tr>
                <td><span class="badge badge-success">PÅGÅR</span></td>
                <td>Hösten 2019</td>
                <td>30 september</td>
                <td>31 oktober</td>
                <td>
                    @Html.ActionLink("Visa", "Index", "SupporterTravetTurns")
                </td>
            </tr>
            <tr>
                <td><span class="badge badge-info">AVSLUTAD</span></td>
                <td>Hösten 2019</td>
                <td>30 september</td>
                <td>31 oktober</td>
                <td>
                    @Html.ActionLink("Visa", "Index", "SupporterTravetTurns")
                </td>
            </tr>
        </table>
    </div>
</div>
