.navbar .brand {
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 0, 0.1), rgba(255, 255, 0, 0.125) 0 0 30px;
  color: black;
}
td.game-table {
  vertical-align: middle;
  font-weight: bold;
}
/* team of the week */
table.team-of-week tfoot {
  border-top: 2px solid black;
}
table.table-medals th {
  border: none;
  padding: 1px 2px;
  text-align: center;
}
table.table-medals td {
  border: none;
  padding: 1px 2px;
}
table.table-medals td:first-child {
  text-align: right;
}
button.btn {
  /* prevent buttons from wrapping text */

  white-space: nowrap;
}
.label-team-a {
  background-color: #7bd048;
  text-transform: uppercase;
}
.label-team-f {
  background-color: #c9bcbe;
  text-transform: uppercase;
}
.label-team-b {
  background-color: #f9573c;
  text-transform: uppercase;
}
.label-miss-free {
  background-color: darkorange;
  text-transform: uppercase;
  color: black;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  border: solid 1px black;
  padding: 1px 4px 0;
}
.label-personal-best {
  background-color: gold;
  text-transform: uppercase;
  color: black;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  border: solid 1px black;
  padding: 1px 4px 0;
}
.label-season-best {
  background-color: silver;
  text-transform: uppercase;
  color: black;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  border: solid 1px black;
  padding: 1px 4px 0;
}
.label-300 {
  background-color: red;
  text-transform: uppercase;
  color: black;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  border: solid 1px black;
  padding: 1px 4px 0;
}
h2 em {
  color: gray;
  font-style: normal;
}
dl em {
  /* make emphasized elements stand out in definition lists */

  font-weight: bold;
  font-style: normal;
  color: black;
}
dt {
  color: gray;
}
/* media queries */
@media (min-width: 768px) and (max-width: 979px) {
  /* reduce width of definition list on iPad */
  
  .dl-horizontal dt {
    width: 80px;
  }
  .dl-horizontal dd {
    margin-left: 90px;
  }
}
