.navbar .brand
{
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 0, 0.1), rgba(255, 255, 0, .125) 0 0 30px;
    color: black;
}

td.turn
{
    vertical-align: middle;
}

button.btn 
{
    /* prevent buttons from wrapping text */
    white-space: nowrap;
}