@team-a-color: rgb(123, 208, 72);
@team-f-color: rgb(201, 188, 190);
@team-b-color: rgb(249, 87, 60);
@miss-free-color: darkorange;
@personal-best-color: gold;
@season-best-color: silver;
@game-300-color: red;

.navbar .brand
{
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 0, 0.1), rgba(255, 255, 0, .125) 0 0 30px;
    color: black;
}

td.game-table
{
    vertical-align: middle;
    font-weight: bold;
}

/* team of the week */
table.team-of-week tfoot
{
    border-top: 2px solid black;
}

table.table-medals
{
    th
    {
        border: none;
        padding: 1px 2px;
    }
    td
    {
        border: none;
        padding: 1px 2px;
    }
    td:first-child
    {
        text-align: right;
    }
}

button.btn 
{
    /* prevent buttons from wrapping text */
    white-space: nowrap;
}

.team-label (@color)
{
    background-color: @color;
    text-transform: uppercase;
}

.label-team-a
{
    .team-label(@team-a-color);
}

.label-team-f
{
    .team-label(@team-f-color);
}

.label-team-b
{
    .team-label(@team-b-color);
}

.accomplishment-label (@color)
{
    background-color: @color;
    text-transform: uppercase;
    color: black;
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
    border: solid 1px black;
    padding: 1px 4px 0;
}

.label-miss-free
{
    .accomplishment-label(@miss-free-color);
}

.label-personal-best
{
    .accomplishment-label(@personal-best-color);
}

.label-season-best
{
    .accomplishment-label(@season-best-color);
}

.label-300
{
    .accomplishment-label(@game-300-color);
}

h2 em
{
    color: gray;
    font-style: normal;
}

dl em
{
    /* make emphasized elements stand out in definition lists */
    font-weight: bold;
    font-style: normal;
    color: black;
}

dt
{
    color: gray;
}

/* media queries */
@media (min-width: 768px) and (max-width: 979px)
{
    /* reduce width of definition list on iPad */
    .dl-horizontal
    {
        dt { width: 80px; }
        dd { margin-left: 90px; }
    }
}