@model Snittlistan.Web.Areas.V2.Controllers.RosterController.InitialDataViewModel.ActivityItem

<div class="row">
    <div class="span12">
        <div class="alert alert-info">
            <h4>
                @Model.Title
                <em>
                    (<time datetime="@($"{Model.Date:s}")">@Model.Date.ToString("d MMMM HH:mm")</time>)
                </em>
        </h4>
    </div>
</div>
</div>
