@model Snittlistan.Web.Areas.V2.Controllers.SupporterTravet.SupporterTravetModels.Header

<div class="row">
    <div class="span12">
        <h1>SupporterTravet</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h2>Hösten 2019 30 september - 31 oktober</h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        <ul class="nav nav-pills">
            @Html.ActionMenuLink(
                "Omgångar",
                string.Empty,
                "SupporterTravetTurns",
                "Index",
                Url.Action("Index", "SupporterTravetTurns", new { Model.Id }))
            @Html.ActionMenuLink(
                "Topplistan",
                string.Empty,
                "SupporterTravetView",
                "Index",
                Url.Action("Index", "SupporterTravetView", new { Model.Id }))
        </ul>
    </div>
</div>
