@model Snittlistan.Web.Areas.V2.Controllers.RosterController.InitialDataViewModel.TurnViewModel

<div class="row">
    <div class="span6">
        <h4 class="pull-left">
            Omgång @Model.Turn
            <em>(@Html.FormatDateSpan(Model.StartDate, Model.EndDate))</em>
        </h4>
        <a class="pull-right rosters" href="@Url.Action("View", "Roster", new { season = Model.SeasonStart, turn = Model.Turn })">
            <i class="icon-user"></i>
            Uttagningar
        </a>
    </div>
</div>
@{
    var start = 0;
    while (true)
    {
        var rosters = Model.Rosters.Skip(start).Take(3).ToArray();
        if (rosters.Length == 0)
        {
            break;
        }
        <div class="row">
            @foreach (var roster in rosters)
            {
                <div class="span4">
                    @Html.DisplayFor(model => roster)
                </div>
            }
        </div>
        start += 3;
    }
}
