@model Match4x4ViewModel.MatchDetails

<table class="invis">
    <tr>
        <td>Datum</td><td>@Html.DisplayFor(model => model.Date)</td>
    </tr>
    <tr>
        <td>Plats</td><td>@Html.DisplayFor(model => model.Location)</td>
    </tr>
</table>