@if (Request.IsAuthenticated && (User.IsInRole(WebsiteRoles.Roster.AddFromBits) || User.IsInRole(WebsiteRoles.Roster.AddManual)))
{
    <div class="row">
        <div class="span6 admin">
            @if (User.IsInRole(WebsiteRoles.Roster.AddFromBits))
            {
                <a href="@Url.Action("CreateBits")">
                    <i class="sprite-glyphicons_358_file_import"></i>
                    Lägg till från BITS
                </a>
            }
            
            @if (User.IsInRole(WebsiteRoles.Roster.AddManual))
            {
                <a href="@Url.Action("Create")">
                    <i class="sprite-glyphicons_030_pencil"></i>
                    Lägg till match manuellt
                </a>
            }
        </div>
    </div>
}
