@model Snittlistan.Web.Areas.V2.Controllers.RosterController.CreateRosterViewModel

<div class="row">
    <div class="span12">
        @using (Html.BeginForm("Create", "Roster", FormMethod.Post, new { @class = "form-horizontal"}))
        {
            <fieldset>
                <legend>Lägg till match</legend>
            </fieldset>
            @Html.DisplayFor(model => Html.ViewData.ModelState, "ValidationSummary")
            @Html.Partial("_RosterEditor", Model)
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">Spara</button>
                @Html.ActionLink("Avbryt", "Index", null, new { @class = "btn btn-large" })
            </div>
        }
    </div>
</div>
