@model CreateRosterViewModel

@{
    ViewBag.Title = "Lägg till match";
    Bundles.Reference("Content/js/helpers/typeahead.js");
}

<div class="row">
    <div class="span6">
        <h3>@ViewBag.Title</h3>
        @using (Html.BeginForm("Create", "Roster", FormMethod.Post, new { @class = "well form-horizontal"}))
        {
            if (Html.ViewData.ModelState.IsValid == false)
            {
                @Html.ValidationSummary(false, "Det gick inte att spara. Försök gärna igen.")
            }
            @Html.Partial("_RosterEditor", Model)
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary btn-large" type="submit">Spara</button>
                    @Html.ActionLink("Avbryt", "Index", null, new { @class = "btn btn-large" })
                </div>
            </div>
        }
    </div>
</div>
