@model RosterViewModel

@{
    ViewBag.Title = "Ta bort";
}

<h2>Ta bort</h2>
<p>Är du säker på att du vill ta bort denna match?</p>
@using (Html.BeginForm("Delete", "Roster", FormMethod.Post))
{
    <div class="row">
        <div class="span4">
            @Html.DisplayFor(model => model, "Roster", new { hideControls = true })
        </div>
    </div>
    <button class="btn btn-danger btn-large" type="submit">Ta bort</button>
    <a class="btn btn-large" href="@Url.Action("Index")">Avbryt</a>
}