@model RosterViewModel

@{
    ViewBag.Title = "Ta bort";
}

<h2>Ta bort</h2>
<p>Är du säker på att du vill ta bort denna match?</p>
@using (Html.BeginForm("Delete", "Roster", FormMethod.Post))
{
    @Html.DisplayFor(model => model, "Roster")
    <button class="btn btn-warning btn-large" type="submit">Ta bort</button>
    <a class="btn-link btn-large" href="@Url.Action("Index")">Avbryt</a>
}