@model CreateRosterViewModel

@{
    ViewBag.Title = "Redigera match";
    Bundles.Reference("Content/js/helpers/typeahead.js");
}

<div class="row">
    <div class="span8">
        <h4>@ViewBag.Title</h4>
        @using (Html.BeginForm("Edit", "Roster", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.DisplayFor(model => Html.ViewData.ModelState, "ValidationSummary")
            @Html.Partial("_RosterEditor", Model)
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">Spara</button>
                @Html.ActionLink("Avbryt", "Index", null, new { @class = "btn btn-large" })
            </div>
        }
    </div>
</div>
