@model ViewTurnViewModel

<h3>Omgång @Model.Id säsongen @Model.Season&minus;@(Model.Season + 1)</h3>
@{
    var start = 0;
    var rosters = Model.Rosters.Skip(start).Take(3).ToList();
}
@while (rosters.Count > 0)
{
    <div class="row">
        @foreach (var roster in rosters)
        {
            <div class="span4 well well-small">
                @Html.DisplayFor(model => roster, "Roster", new { hideControls = true })
                @Html.DisplayFor(model => roster, "Players")
            </div>
        }
    </div>

    start += 3;
    rosters = Model.Rosters.Skip(start).Take(3).ToList();
}