@model Snittlistan.Web.Areas.V2.Controllers.SupporterTravet.SupporterTravetViewController.ViewModel

@Html.Partial("_SupporterTravetModels_Header", Model.Header)

<p>Någon sorts text om den här omgången.</p>
<h3>Visa rader för medlem</h3>
<div>
    <div style="border: 1px solid black; height: 20px; width: 20px"></div>
</div>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>Rank</th>
        <th>Namn</th>
        <th>Poäng</th>
        <th>Medlem</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Daniel Lidström</td>
        <td>10234</td>
        <td>Lidas</td>
    </tr>
</table>