@model List<PlayerViewModel>

<div class="row">
    <div class="span6">
        <h2>Säsongen @Model.SeasonStart&minus;@Model.SeasonEnd</h2>
    </div>
</div>

<h2>@ViewBag.Title</h2>
<table class="table table-condensed">
    @foreach( var player in Model)
    {
        <tr>
            <td>@player.Name</td>
        </tr>
    }
</table>
