@model Snittlistan.Web.Areas.V2.Controllers.RosterController.InitialDataViewModel

@* TODO Use a simpler model, not all is necessary *@
<div class="row">
    <div class="span12 index-top-links">
        @if (Model.IsFiltered)
        {
            <div class="show-all-matches-container">
                <a href="@Url.Action("Index", new
                         {
                             season = Model.SeasonStart
                         })">
                    <i class="sprite-glyphicons_027_search"></i>
                    <span class="link-text">Visa alla matcher</span>
                    <small>Tidigare matcher är filtrerade</small>
                </a>
            </div>
        }

        <div class="add-calendar-container">
            <a href="@Url.GetWebcalUrl()">
                <i class="sprite-glyphicons_045_calendar"></i>
                Lägg till i din kalender
            </a>
        </div>
    </div>
</div>

@if (Request.IsAuthenticated)
{
    <h3>Välkommen @User.Identity.Name!</h3>
    if (Model.SelectedTurns.Any())
    {
        <div class="alert alert-block">
            <span>Du är uttagen till:</span>
            <ul>
                @foreach (var selectedRoster in Model.SelectedTurns)
                {
                    <li>Omgång @selectedRoster.Turn</li>
                }
            </ul>
        </div>
    }
}

<hr />
