@model RosterViewModel
@{
    var hideControls = Convert.ToBoolean(ViewData["hideControls"]);
}

<div class="well well-small editable">
    @if (User.IsInRole2(WebsiteRoles.Roster.ManageRosters) && hideControls == false && Model.Header.MatchResultId == null)
    {
        <div class="dropdown edit-left">
            <button class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/page.html">
                <i class="sprite-glyphicons_019_cogwheel"></i>
                <b class="caret"></b>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="@Url.Action("Edit", new { id = Model.Header.RosterId })">
                        <i class="sprite-glyphicons_151_edit"></i>
                        Redigera
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Delete", new { id = Model.Header.RosterId })">
                        <i class="sprite-glyphicons_016_bin"></i>
                        Ta bort
                    </a>
                </li>
            </ul>
        </div>
    }
    @Html.DisplayFor(x => x.Header)
</div>
