<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Ny omgång säsongen {{seasonStart}}&minus;{{seasonEnd}}</h3>
</div>
<form class="form-horizontal">
    <div class="modal-body">
        <p>Skapa en ny omgång genom att fylla i detaljerna för en match nedan.
            Du kan senare lägga till flera matcher till samma omgång.</p>
        <div class="control-group">
            <label class="control-label" for="number">Nummer:</label>
            <div class="controls">
                <select name="number" autofocus="autofocus">
                    {{#availableTurns}}
                    <option>{{.}}</option>
                    {{/availableTurns}}
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="team">Lag:</label>
            <div class="controls">
                <input type="text" name="team" placeholder="Lag" required="required" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="opponent">Motståndare:</label>
            <div class="controls">
                <input type="text" name="opponent" placeholder="Motståndare" required="required" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="place">Plats:</label>
            <div class="controls">
                <input type="text" name="place" placeholder="Plats" required="required" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="date">När:</label>
            <div class="controls">
                <input type="date" name="date" placeholder="Datum" required="required" />
                <input type="time" name="time" placeholder="Klockslag" required="required" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" type="submit">Spara</button>
                <button class="btn" data-type="hide">Avbryt</button>
            </div>
        </div>
    </div>
</form>
