@{
    Layout = "~/Areas/V2/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span12">
        <ul class="nav nav-pills">
            @Html.ActionMenuLink("Matcher", string.Empty, "Index", Url.Action("Index"))
            @Html.ActionMenuLink("Veckans lag", string.Empty, "Turns", Url.Action("Turns"))
            @Html.ActionMenuLink("Form", string.Empty, "Form", Url.Action("Form"))
        </ul>
    </div>
</div>

@RenderBody()
