@model RegisterSerie

<table class="table table-condensed">
    <tr>
        <td>Namn</td>
        <td>Banpoäng</td>
        <td>Poäng</td>
        <td>X</td>
        <td>Spärrar</td>
    </tr>
    @for (var i = 0; i < Model.Players.Count; i++)
    {
        <tr>
            <td>X</td>
            <td>Y</td>
            <td>Z</td>
            <td>W</td>
            <td>U</td>
        </tr>
        @*
        <tr><td colspan="3"></td></tr>
        <h4>@player</h4>
        <div class=""></div>
        <div class="control-group">
            <label class="control-label" for="teamScore">Lagpoäng:</label>
            <div class="controls">
                <input id="teamScore"
                       name="teamScore"
                       type="text"
                       pattern="\d*"
                       min="0"
                       max="20"
                       value=""
                       required="required" />
            </div>
        </div>*@
    }
</table>
