@model ResultViewModel

<div class="row">
    <div class="span4">
        @Html.DisplayFor(model => Model.HeaderViewModel, "Header")
    </div>
</div>
<div class="row">
    <div class="span6">
        @Html.DisplayFor(model => Model.ResultReadModel, "ResultSeriesReadModel")
    </div>
</div>
