@model ResultViewModel

<div class="row">
    <div class="span4">
        @Html.DisplayFor(model => Model.HeaderReadModel, "Header")
        @if (Model.ResultReadModel.Series.Count != 4)
        {
            @Html.ActionLink(
                "Registrera serier",
                "RegisterSerie",
                new
                {
                    Model.HeaderReadModel.AggregateId,
                    Model.HeaderReadModel.RosterId,
                    Model.HeaderReadModel.BitsMatchId
                })
        }

        @Html.DisplayFor(model => Model.ResultReadModel, "Result")
    </div>
</div>
