@model ResultViewModel

<div class="row">
    <div class="span4">
        @Html.DisplayFor(model => Model.HeaderReadModel, "Header")
        @if (Model.ResultReadModel.Series.Count != 4)
        {
            <a href="@Url.Action("RegisterSerie", new { Model.HeaderReadModel.AggregateId,
                                                        Model.HeaderReadModel.RosterId,
                                                        Model.HeaderReadModel.BitsMatchId
                                                      })">
                <i class="sprite-glyphicons_030_pencil"></i>
                Registrera serie
            </a>
        }
    </div>
</div>
<div class="row">
    <div class="span6">
        @Html.DisplayFor(model => Model.ResultReadModel, "Result")
    </div>
</div>
