@model FormViewModel

@if (Model.PlayerForms.Length == 0)
{
    <div class="row">
        <div class="span12">
            <p>Inga resultat registrerade för säsong @Model.Season</p>
        </div>
    </div>
}
else
{
    @Html.Partial("_Form", Model.PlayerForms)
}