<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.1.267" />
  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="Castle.Windsor" version="3.0.0.4001" />
  <package id="Moq" version="4.0.10827" />
  <package id="MvcContrib.Mvc3.TestHelper-ci" version="3.0.100.0" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="RavenDB.Client" version="1.2.2058-Unstable" targetFramework="net40" />
  <package id="RavenDB.Database" version="1.2.2058-Unstable" targetFramework="net40" />
  <package id="RavenDB.Embedded" version="1.2.2058-Unstable" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6.1" />
  <package id="xunit" version="1.9.1" targetFramework="net40" />
</packages>