@{
    Layout = "~/Areas/V2/Views/Shared/_SupporterTravetLayout.cshtml";
}

<h1>Redigera</h1>

<form>
    <input type="text" placeholder="Beskrivning" />
    <fieldset>
        <legend>Datum</legend>
        <input type="datetime-local" placeholder="Startdatum" />
        <input type="datetime-local" placeholder="Slutdatum" />
    </fieldset>
</form>
