@{
    Layout = "~/Areas/V2/Views/Shared/_SupporterTravetLayout.cshtml";
}

<h1>Redigera</h1>

<form>
    <fieldset>
        <legend>Information</legend>
        <label for="description">Beskrivning:</label>
        <input type="text" />
    </fieldset>
    <fieldset>
        <legend>Datum</legend>
        <label for="startDatum">Start:</label>
        <input type="datetime-local" />
    </fieldset>
</form>