<h1>Administration</h1>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Omgång</th>
        <th>Startdatum</th>
        <th>Slutdatum</th>
        <th></th>
    </tr>
    <tr>
        <td>Hösten 2019</td>
        <td>30 september</td>
        <td>31 oktober</td>
        <td>
            @Html.ActionLink("Redigera", "Edit", "SupporterTravetAdministration")
        </td>
    </tr>
</table>