<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="Snittlistan-SiteWide" connectionString="Url=http://localhost:8080;Database=Snittlistan-SiteWide" />
  </connectionStrings>
  <appSettings>
    <add key="TaskQueue" value=".\Private$\taskqueue" />
    <add key="Port" value="61026" />
  </appSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="BufferingRollingFileAppender" />
      <appender-ref ref="BufferingRollingFileAppenderErrors" />
      <appender-ref ref="EventLogAppender" />
    </root>
    <!-- logs to Visual Studio output window -->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level - %.10240message%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <threshold value="INFO" />
      <mapping>
        <level value="ERROR" />
        <foreColor value="Yellow, HighIntensity" />
        <backColor value="Red" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level - %.10240message%newline" />
      </layout>
    </appender>
    <appender name="BufferingRollingFileAppender" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="1" />
      <appender-ref ref="RollingFileAppender" />
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\logfile.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="25MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <staticLogFileName value="true" />
      <PreserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level - %.10240message%newline" />
      </layout>
    </appender>
    <appender name="BufferingRollingFileAppenderErrors" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="1" />
      <appender-ref ref="RollingFileAppenderErrors" />
    </appender>
    <appender name="RollingFileAppenderErrors" type="log4net.Appender.RollingFileAppender">
      <threshold value="ERROR" />
      <file value="logs\logfile.error.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="25MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <staticLogFileName value="true" />
      <PreserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level - %.10240message%newline" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <logName value="Snittlistan" />
      <applicationName value="Tool" />
      <threshold value="INFO" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%2thread] - %.10240message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>
