<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
     <!--magic transformations here-->
  <appSettings>
    <add key="Snittlistan-hofvet-api" value="https://snittlistan.se/api/task" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Snittlistan-vartansik-api" value="https://vartansik.snittlistan.se/api/task" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
