@model Snittlistan.Web.Areas.V2.ReadModels.ResultSeriesReadModel.Serie

@for (var i = 0; i < 4; i++)
{
    <table class="table table-condensed table-bordered table-striped">
        <tr>
            <td>Namn</td>
            <td>Banpoäng</td>
            <td>Poäng</td>
            <td>X</td>
            <td>/</td>
        </tr>
        @Html.EditorFor(model => model.Tables[i], "Table")
    </table>
}
