@using Snittlistan.Web.Areas.V2.Domain
@model CreatePlayerViewModel

<div class="control-group">
    <label class="control-label" for="name">Namn:</label>
    <div class="controls">
        <input type="text"
               name="name"
               id="name"
               placeholder="Fullständigt namn"
               autofocus="autofocus"
               autocorrect="off"
               autocomplete="off"
               value="@Model.Name"
               required/>
        <span class="help-block">Måste anges</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="nickname">Smeknamn:</label>
    <div class="controls">
        <input type="text"
               name="nickname"
               id="nickname"
               placeholder="Smeknamn"
               autocorrect="off"
               autocomplete="off"
               value="@Model.Nickname" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="personalNumber">Födelsedag:</label>
    <div class="controls">
        <input type="text"
               name="personalNumber"
               id="personalNumber"
               placeholder="T.ex. 791231"
               autocorrect="off"
               autocomplete="off"
               pattern="\d*"
               title="Ange 6 siffror enligt ÅÅMMDD"
               value="@(Model.PersonalNumber != null ? Model.PersonalNumber.Value.ToString() : string.Empty)" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="email">E-postadress:</label>
    <div class="controls">
        <input type="email"
               name="email"
               id="email"
               placeholder=""
               autocorrect="off"
               autocomplete="off"
               value="@Model.Email" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="status">Status:</label>
    <div class="controls">
        <select name="status" id="status">
            <option value="Active"
                @if (Model.Status == Player.Status.Active)
                {
                    <text>selected="selected"</text>
                }
                >
                Aktiv
            </option>
            <option value="Supporter"
                @if (Model.Status == Player.Status.Supporter)
                {
                    <text>selected="selected"</text>
                }
                >
                Supporter
            </option>
            <option value="Inactive"
                @if (Model.Status == Player.Status.Inactive)
                {
                    <text>selected="selected"</text>
                }
                >
                Inaktiv
            </option>
        </select>
    </div>
</div>
