@model CreatePlayerViewModel

<div class="control-group">
    <label class="control-label" for="name">Namn:</label>
    <div class="controls">
        <input type="text"
               name="name"
               placeholder="Fullständigt namn"
               autofocus="autofocus"
               autocorrect = "off"
               autocomplete = "off"
               value="@Model.Name"
               required />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="email">E-postadress:</label>
    <div class="controls">
        <input type="email"
               name="email"
               placeholder=""
               autocorrect="off"
               autocomplete="off"
               value="@Model.Email"
               required />
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            @Html.EditorFor(model => model.IsSupporter) Supporter
        </label>
    </div>
</div>
