@model Snittlistan.Web.Areas.V2.Controllers.PlayerController.CreatePlayerViewModel

@{
    ViewBag.Title = "Lägg till spelare";
}

<div class="row">
    <div class="span8">
        <h4>@ViewBag.Title</h4>
        @using (Html.BeginForm("Create", "Player", FormMethod.Post, new { @class = "form-horizontal"}))
        {
            @Html.DisplayFor(model => Html.ViewData.ModelState, "ValidationSummary")
            @Html.Partial("_PlayerEditor", Model)
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">Spara</button>
                @Html.ActionLink("Avbryt", "Index", null, new { @class = "btn btn-large" })
            </div>
        }
    </div>
</div>
